@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.tile{
  transition: all 0.3s cubic-bezier(0, 0.44, 0.58, 1), background-color 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.tile:hover{
  transform: scale(1.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.433);
  border-radius: 2px;
}

.tile:hover .tileText{
  display: block;
}

@media screen and (max-width: 980px) {
  .game{
    display: block;
  }
  .compiler{
    width: 100%;
  }
  .board{
    width: 100%;
  }
}